server/data/bigVideoTest.mp4
server/data/mediumVideoTest.mp4
server/data/happy1.mp4
server/data/happy2.mp4
server/data/sad1.mp4
server/data/sad2.mp4
server/pretrained_models/CustomEncoderWav2vec2Classifier-6d849d67d0260d5a3ea6b156bb50a54b/custom_interface.py
server/pretrained_models/CustomEncoderWav2vec2Classifier-6d849d67d0260d5a3ea6b156bb50a54b/hyperparams.yaml
server/pretrained_models/CustomEncoderWav2vec2Classifier-6d849d67d0260d5a3ea6b156bb50a54b/label_encoder.ckpt
server/pretrained_models/CustomEncoderWav2vec2Classifier-6d849d67d0260d5a3ea6b156bb50a54b/model.ckpt
server/pretrained_models/CustomEncoderWav2vec2Classifier-6d849d67d0260d5a3ea6b156bb50a54b/wav2vec2.ckpt
server/wav2vec2_checkpoints/models--facebook--wav2vec2-base/blobs/3f24dc078fcba55ee1d417a413847ead40c093a3
server/wav2vec2_checkpoints/models--facebook--wav2vec2-base/blobs/47d7dc533f6d412e1c021eb181615d006e403bed
server/wav2vec2_checkpoints/models--facebook--wav2vec2-base/blobs/3249fe98bfc62fcbc26067f724716a6ec49d12c4728a2af1df659013905dff21
server/wav2vec2_checkpoints/models--facebook--wav2vec2-base/refs/main
server/wav2vec2_checkpoints/models--facebook--wav2vec2-base/snapshots/0b5b8e868dd84f03fd87d01f9c4ff0f080fecfe8/config.json
server/wav2vec2_checkpoints/models--facebook--wav2vec2-base/snapshots/0b5b8e868dd84f03fd87d01f9c4ff0f080fecfe8/preprocessor_config.json
server/wav2vec2_checkpoints/models--facebook--wav2vec2-base/snapshots/0b5b8e868dd84f03fd87d01f9c4ff0f080fecfe8/pytorch_model.bin
